<button mat-button color="warn" class="entete">{{professeur}}</button><br>
<mat-icon aria-hidden="false" (click)="back()">arrow_back</mat-icon>
<button mat-button color="primary" class="entete">{{eleves[ii_eleve]}}</button>
<mat-icon aria-hidden="false" (click)="forward()">arrow_forward</mat-icon><br><br><br>

<!-- <div fxLayout="column" fxLayoutAlign="space-around center"> -->

<!-- <div class="example-button-row"> -->

<div *ngFor="let question of questions">
    <div >
        <div>{{question.intitule}}</div>

        <div *ngIf="question.format==='reponselibre'">
            <section class="example-section">
            <mat-form-field>
                <mat-label>Réponse libre</mat-label>
                <input matInput>
            </mat-form-field>
            </section>
        </div>

        <div *ngIf="question.format==='reponsesimposees'">
            <section class="example-section">
            <mat-radio-group [(ngModel)]="labelPosition2">
                <mat-radio-button value="hier">hier</mat-radio-button>
                <mat-radio-button value="aujourdhui">aujourd'hui</mat-radio-button>
                <mat-radio-button value="demain">demain</mat-radio-button>
                <mat-radio-button value="plustard">plus tard</mat-radio-button>
                <mat-radio-button value="jamais">jamais</mat-radio-button>
            </mat-radio-group>
        </section>
        </div>

        <div *ngIf="question.format ==='choixmultiples'">
            <section class="example-section">
                <mat-checkbox [(ngModel)]="lundi">Lundi</mat-checkbox>
                <mat-checkbox [(ngModel)]="mardi">Mardi</mat-checkbox>
                <mat-checkbox [(ngModel)]="mercredi">Mercredi</mat-checkbox>
                <mat-checkbox [(ngModel)]="jeudi">Jeudi</mat-checkbox>
                <mat-checkbox [(ngModel)]="vendredi">Vendredi</mat-checkbox>
            </section>
        </div>

        <div *ngIf="question.format ==='vraifaux'">
            <section class="example-section">
                <mat-radio-group [(ngModel)]="labelPosition1">
                    <mat-radio-button value="after">Oui</mat-radio-button>
                    <mat-radio-button value="before">Non</mat-radio-button>
                </mat-radio-group>
            </section>
        </div>
        <mat-divider></mat-divider>
    </div>
</div>

<!-- </div> -->


<button mat-button color="primary" [routerLink]="['accueil']"> Retour à l'accueil</button>