<div class="container">
    <!-- header : a gauche nom prénom ou bouton connexion ; a droite bouton logout -->
    <div class="entete">
        <div *ngIf="!VC.connecte" (click)="VC.login()"><button>Connexion</button></div>
        <div *ngIf="VC.connecte" >Nom du professeur</div>
        <div *ngIf="VC.connecte" (click)="VC.logout()">logout<i class="fa fa-sign-out"></i></div>
    </div>
    
    <div *ngIf="VC.admin" class="entete">
        <div *ngIf="VC.connecte" [routerLink]="['/questionnairecreation']"><button>Créer/Editer un questionnaire</button></div>
        <div *ngIf="VC.connecte" [routerLink]="['/administration']"><button>Admin</button></div>
    </div>
    
    <!-- Liste des questionnaires disponibles pour le professeur connecté -->
    <div *ngIf="VC.connecte">
        <div class="item" >
            <div class="itemquestionnaire">Avis d'orientation en Seconde</div>
            <div class="itemquestionnaire">Classes concernées : 2GTA, 2GTB, 2GTC, 2GTD, 2GTE, 2GTF, 2GTG, 2GTH, 2GTI, 2GTJ</div>
            <div class="itemquestionnaire">proposé par Adeline Terrien</div>
            <div class="itemquestionnaire">Statut : à remplir avant le 05/04/2022</div>
            <button [routerLink]="['/questionnaireaffichage']">Répondre</button><button [routerLink]="['/questionnairesynthese']"> Synthèse partielle</button>
            <!-- <div class="itemquestionnaire">Statut (visible ?, en cours ?)</div> -->
        </div>

        <div class="item">
            <div class="itemquestionnaire">Avis du conseils de mi-semestre 1er semestre</div>
            <div class="itemquestionnaire">Classes concernées : 2GTA, 2GTB, 2GTC, 2GTD, 2GTE, 2GTF, 2GTG, 2GTH, 2GTI, 2GTJ</div>
            <div class="itemquestionnaire">proposé par Louis Gillet</div>
            <div class="itemquestionnaire">Statut : collecte terminée</div>
            <button [routerLink]="['/questionnairesynthese']"> Synthèse disponible</button>
        </div>

    </div>

</div>